
{% extends "layout.html" %}

{% block title %}Impressum{% endblock %}

{% block main %}
<div class="container section">
    <h1 class="section-title">Impressum</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p><strong>Verantwortlich für den Inhalt:</strong></p>
            <p>
                Peter-Schöffer-Stiftung<br>
                Vertreten durch den Vorstand<br>
                Vorsitzender: Dr. Max Mustermann<br>
                Musterstraße 123<br>
                12345 Musterstadt<br>
                Deutschland
            </p>
            <p>
                <strong>Kontakt:</strong><br>
                Telefon: +49 (0) 123 456789<br>
                E-Mail: kontakt@peter-schoeffer-stiftung.de
            </p>
        </div>
    </div>
</div>
{% endblock %}
