
{% extends "layout.html" %}
{% block title %}Zertifikat{% endblock %}
{% block main %}
<div class="container section text-center">
    <h1>Zertifikat</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Bibelvers-Sponsoring</h5>
            <p>Dank der Spende von <strong>Max Mustermann</strong> konnte der Bibelvers</p>
            <h2>Jeremia 29,11</h2>
            <p>übersetzt werden.</p>
            <p><strong>Dieses Zertifikat ist für: Erika Mustermann</strong></p>
            <p>Datum: 10. August 2025</p>
        </div>
    </div>
</div>
{% endblock %}
